@import url('./style.css');

.show-case {
  display: flex;
  flex-direction: column;
  padding: 1.75rem 2rem 5rem;
  background-color: var(--bs-gray);
  align-items: center;
  justify-content: center;
}

/* .show-case h1{
    display: flex;
 align-items: center;
 justify-content: center;
} */

.show-case .sub {
  padding: 0;
  background: transparent;
  border: 0;
  margin: 0;
  font-weight: 400;
  color: var(--bs-secondary);
  align-items: center;
}

.show-case p {
  display: flex;
  padding: 1.35rem 1.175rem;
  background-color: var(--bs-gray);
  border: 3px solid var(--bs-white);
  border-radius: 2px;
}

.show-case-about {
  display: flex;
  flex-direction: column;
  background-color: var(--bs-white);
  border: 3px solid var(--bs-gray);
  color: var(--bs-primary);
  margin-bottom: 3rem;
  align-items: center;
}

.show-case-about h1 {
  color: var(--bs-secondary);
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 2.8rem;
  padding: 0 0 1.75rem;
  margin-top: 0;
  align-items: center;
}

.show-case h2 {
  font-size: 2.17rem;
  font-weight: 900;
  text-transform: uppercase;
}

.show-case .ft {
  padding: 0;
  background: none;
  border: 0;
}

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.75rem 2rem 5rem;
  background-color: var(--bs-primary);
}

.main-program h2 {
  color: white;
  padding: 0.75rem;
}

.main-program .programs {
  background-color: var(--bs-gray-900);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: white;
  gap: 0.15rem;
  margin: 0.2rem;
  width: 100%;
  align-items: center;
}

.main-program .programs .program {
  background-color: var(--bs-gray-900);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
  width: 100%;
  align-items: center;
}

.main-program .program span {
  padding: 1rem;
  height: 5rem;
  width: 25%;
  color: var(--bs-secondary);
}

.main-program .program i {
  font-size: 1.15rem;
  color: var(--bs-secondary);
  width: 25%;
}

.main-program .program h3 {
  font-size: 1.15rem;
  color: var(--bs-secondary);
  width: 25%;
}

.main-program .program p {
  font-size: 0.8rem;
  color: white;
  width: 50%;
}

.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.75rem 2rem 5rem;
  background-color: var(--bs-gray-100);
}

.speakers h2 {
  color: var(--bs-primary);
  padding: 0;
}

.speakers-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.speaker {
  display: flex;
  flex-direction: row;
}

.speaker .profile-picture {
  width: 35%;
  padding-right: 0.85rem;
}

.speaker img {
  width: 100%;
  height: auto;
}

/*
.speaker h3 {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--bs-dark);
} */

/*
.speaker .info {
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--bs-secondary);
} */

.speaker .bio {
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--bs-black);
}

.speakers-container .btn {
  background-color: white;
  color: var(--bs-black);
  border: 1px solid var(--bs-primary);
  width: 100%;

  /* padding: auto; */
  margin: 0;
}

.speakers-container span::after {
  content: ' \02EF';
  font-size: xx-large;
  align-self: center;
  color: var(--bs-secondary);
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.75rem 2rem 5rem;
  background-color: var(--bs-primary);
  width: 100%;
}

.partners h2 {
  font-size: 2.17rem;
  font-weight: 900;
  color: white;
}

.partners hr {
  color: var(--bs-secondary);
}

.partners-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.partners .wri {
  background-color: white;
}

.partners .cgiar {
  background-color: green;
}

footer .ft-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 1rem;
}

/*
footer img {
  width: auto;
  height: 75px;
} */

/* .about{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: inherit;
  padding: inherit;
} */
