@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;

  /* outline: 1px solid #f00 !important;
  opacity: 1 !important;  */
}

:root {
  --bs-blue: #0d6efd;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #f7f7f7;
  --bs-gray-dark: #d3d3d3;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #272a31;
  --bs-secondary: #ec5242;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #d3d3d3;
  --bs-dark: #212529;
}

/* Font awesome icons*/
.fa,
.fa-classic,
.fa-sharp,
.fas,
.fa-solid,
.far,
.fa-regular,
.fab,
.fa-brands {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto; }

.fa-facebook-f:before {
  content: "\f39e"; }
  .fa-twitter:before {
  content: "\f099"; }
  
  .fa-angle-down::before {
    content: "\f107"; }

  .fab,
.fa-brands {
  font-weight: 400; }

  .fas,
.fa-classic,
.fa-solid,
.far,
.fa-regular {
  font-family: 'Font Awesome 6 Free'; }

.fab,
.fa-brands {
  font-family: 'Font Awesome 6 Brands'; }

header {
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 73%;
  margin: 0;
}

.btn {
  padding: 1rem;
  background: var(--bs-secondary);
  color: white;
  border: 1px solid var(--bs-secondary);
  margin: 1rem;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  width: fit-content;
}

a {
  text-decoration: none;
}

.btn:hover {
  color: var(--bs-secondary);
  background: rgba(39, 42, 49, 0.76);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(39, 42, 49, 0.56);
}

hr {
  color: var(--bs-primary);
  background-color: var(--bs-primary);
  width: 10%;
  margin-top: 0;
  height: 5px;
  border-width: 0;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-size: 1rem;
  word-break: keep-all;
  display: flex;

  /* padding: 1.35rem 1.175rem; */
}

h2,
h1,
p {
  font-family: "Nanum Gothic", sans-serif;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: #3c3f4666;
  opacity: 0.85;
}

.visible {
  visibility: visible;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 100%;
}

/* specific */

.top-nav {
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: var(--bs-gray);
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  padding: 0 5%;
  z-index: 11;
}

.menu {
  /* padding: 0.5rem 1.75rem; */
  display: flex;
  flex-direction: column;
  background-color: var(--bs-gray);
  z-index: 11;
}

.menu-brand {
  width: 60px;
  display: none;
}

.menu-toggler {
  display: flex;
  background: var(--bs-gray-100);
  align-items: flex-start;
  justify-content: center;
  font-size: 1.8rem;
  padding: 0.5rem;
}

.menu-collapse {
  flex-direction: row;
  width: 70%;
  display: none;
}

.menu-nav {
  display: flex;
  width: 100vw;

  /* min-height: 100vh; */
  z-index: 10;
  background-color: var(--bs-gray);
  flex-direction: column;
  align-items: flex-start;
  gap: 0.35rem;

  /* overflow: auto; */
  top: 60px;
  position: relative;
}

.menu-nav a {
  text-decoration: none;
  color: var(--bs-primary);
  font-size: 1.157rem;
  font-weight: 500;
  width: 90%;
  padding: 1.15rem;
  border-radius: 10px;
  border-bottom: 1px solid var(--bs-gray-300);
  background-color: var(--bs-gray);
}

.menu-nav a:hover,
.menu-nav .active {
  color: var(--bs-secondary);
  background: rgba(39, 42, 49, 0.76);
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.25s ease-in-out;
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(39, 42, 49, 0.56);
  padding: 0.7rem;
}

.menu-nav .btn {
  color: var(--bs-secondary);
  border: 4px solid var(--bs-secondary);
  border-radius: 0;
  margin: 1rem;
}

.show-case {
  display: flex;
  flex-direction: column;
  padding: 18% 7% 12%;
  gap: 0.64rem;
  margin: auto;
}

.show-case h1 {
  color: var(--bs-secondary);
  font-weight: 900;
  font-size: 1.9em;
  text-transform: uppercase;
  margin-top: 0;
  background-image: linear-gradient(rgba(236, 83, 66, 0.974), rgba(255, 106, 0, 0.734)), url(../images/bg-image.png);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.show-case .sub {
  padding: 0;
  background: transparent;
  border: 0;
  margin: 0;
  font-weight: 400;
  background-image: linear-gradient(rgba(236, 83, 66, 0.737), rgba(255, 51, 0, 0.349)), url(../images/participants.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  color: var(--bs-secondary);
  box-shadow: none;
}

.show-case .detail {
  background-image: url('../images/header.png');

  /* background-repeat: no-repeat; */
  background-size: contain;
}

.show-case p {
  background-color: var(--bs-white);
  border: 3px solid var(--bs-gray);
  padding: 1.5rem 1.1rem;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.show-case h2 {
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}

.show-case .ft {
  padding: 0;
  background: none;
  border: 0;
  box-shadow: none;
}

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 7%;
  background-color: var(--bs-primary);
  background-image: url('../images/main.png');
  background-size: 5%;
  z-index: 3;
  margin: auto;
  gap: 0.64rem;
}

.main-program h2 {
  color: white;
  padding: 0.95rem;
}

.main-program hr {
  color: var(--bs-secondary);
  background-color: var(--bs-secondary);
}

.programs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: white;
  row-gap: 0.64rem;
  width: 100%;
  align-items: center;
}

.program {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.program span {
  padding: 1rem;
  height: 5rem;
  width: 25%;
  color: var(--bs-secondary);
}

.program i {
  font-size: 1.15rem;
  color: var(--bs-secondary);
  width: 10%;
}

.program h3 {
  font-size: 0.83em;
  color: var(--bs-secondary);
  width: 30%;
}

.program p {
  font-size: 0.7em;
  color: white;
  width: 60%;
}

.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 7%;
  gap: 0.64rem;
  background-color: var(--bs-gray-200);
}

.speakers h2 {
  color: var(--bs-primary);
  padding: 0;
}

.speaker {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(4, 0.19fr);
}

.speakers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.64rem;
}

.speakers-container .speaker {
  width: 100%;
}

.profile-picture > * {
  position: absolute;
}

.background {
  left: -20%;
  top: 0;
  width: 50%;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.foreground {
  right: 0;
  top: 10%;
  width: 100%;
  height: auto;
  z-index: 2;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.profile-picture {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/ span 4;
}

.speaker h3 {
  grid-column: 2/-1;
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--bs-dark);
}

.speaker .position {
  grid-column: 2/-1;
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--bs-secondary);
}

.speaker hr {
  grid-column: 2/-1;
  color: var(--bs-secondary);
  background-color: var(--bs-secondary);
}

.speaker .bio {
  grid-column: 2/-1;
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--bs-black);
}

.speaker:nth-last-of-type(n+3) {
  display: none;
}

.speakers .btn {
  background-color: white;
  color: var(--bs-black);
  border: 0.5px solid var(--bs-gray-500);
  width: 70%;
  margin: 0;
  display: block;
}

.speakers-container span::after {
  content: ' \02EF';
  font-size: xx-large;
  align-self: center;
  color: var(--bs-secondary);
}

.partners {
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem 2rem 5rem;
  background-color: #414246;
  width: 100%;
}

.partners h2 {
  font-size: 2.17rem;
  font-weight: 900;
  color: white;
}

.partners hr {
  color: var(--bs-secondary);
  background-color: var(--bs-secondary);
}

.partners-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.partners .cols {
  width: 33%;
  gap: 2rem;
}

footer .ft-row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;

  /* display: none; */
}

.ft-row div {
  grid-column: 1/2;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
}

.ft-row p {
  grid-column: 2/2;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
  font-size: small;
}

.logo {
  width: auto;
  height: 75px;
}

.program:hover,
.partners-logo img:hover {
  transform: scale(1.01, 1.01);
}

/* For wider screen sizes (>768 PX) */

@media (min-width: 768px) {
  .top-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 40px;
    background-color: var(--bs-primary);
    z-index: 11;
    display: block;
    align-items: center;
    transition: all 0.5s ease-in-out;
    padding-right: 9%;
  }

  .top-sticky {
    color: white;
    display: inline;
  }

  .top-sticky li {
    list-style: none;
    font-size: medium;
    float: right;
    padding: 0.54rem 0.75rem;
  }

  .menu-container {
    top: 40px;
    background-color: var(--bs-gray-100);
  }

  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0;
    position: sticky;
    top: 0;
  }

  .menu-collapse {
    display: flex !important;
    flex-direction: row;
    width: auto;
  }

  .menu-brand {
    display: flex;
  }

  .menu-toggler {
    display: none;
  }

  .menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1.5rem;
    width: auto;
    height: 3rem;
    z-index: 11;
    position: inherit;
  }

  .menu-nav a {
    text-decoration: none;
    padding: 0 0.25rem;
    display: flex;
    font-size: 1rem;
    width: auto;
    border-bottom: 0;
    box-shadow: rgba(0, 0, 0, 0) 0 5px 15px;
  }

  .top-sticky a {
    text-decoration: none;
    color: white;
  }

  .top-sticky a:hover {
    padding: 0.94rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .menu-nav a:hover,
  .active {
    color: var(--bs-secondary);
  }

  .show-case {
    padding: 19% 15% 2%;
    margin: auto;
    height: auto;
    gap: 0.75rem;
  }

  .show-case h1 {
    font-size: 2.1em;
  }

  .show-case .sub {
    background-image: url('../images/participants.jpg');
    background-position: center;
  }

  .main-program {
    padding: 7% 3%;
  }

  .programs {
    flex-direction: row;
    flex-wrap: nowrap;

    /* padding: 0; */
    column-gap: 0.29rem;
  }

  .program {
    margin-top: 2rem;
    padding: 1rem 0 0;
    flex-direction: column;
    flex-wrap: nowrap;

    /* box-shadow: rgba(0, 0, 0, 40%) 0 5px 15px; */
  }

  .program h3,
  .program span,
  .program p {
    padding: 1rem 0.275rem;
    margin: 0;
    width: auto;
    text-align: center;
  }

  .main-program .btn {
    text-decoration: underline;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .speakers {
    flex-direction: column;
    padding: 5%;
    gap: 2.5em;
  }

  .speakers-container {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2.5em;
  }

  .speaker {
    gap: 1em;
    grid-template-rows: repeat(4, 0.1fr);
  }

  .speaker:nth-last-of-type(n+3) {
    display: grid;
  }

  .speakers .btn {
    display: none;
    width: 100%;
    order: -1;
  }

  .partners {
    display: flex;
    padding: 1% 5%;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
  }

  .partners .cols {
    width: 20%;
  }

  footer .ft-row {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: center;
    padding: 2em;
    max-height: 200px;

    /* display: none; */
  }

  .ft-row div {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .ft-row p {
    grid-column: 2/2;
    grid-row: 1/-1;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
}

@media (min-width: 1132px) {
  .wrapper {
    max-width: 1132px;
  }

  .speakers {
    max-width: 1132px;
    margin: auto;
  }
}
